@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --cor1: #F2F2F0;
    --cor2: #b1a294;
    --cor3: #e3e9f7;
    --cor4: #737373;
    --cor5: #0D0D0D;
}

body {
    overflow-x: hidden;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    height: 80px;
    padding: 10px;
    border-radius: 0px 0px 8px 8px;
    box-shadow: 1px 1px 5px black;
    background: linear-gradient(to bottom, var(--cor2), var(--cor1));
    top: 0;
    z-index: 1;
}

.logo {
    height: 70px;
    border-radius: 50%;
    border: 5px solid white;
    outline: 5px solid var(--cor2);
}

.icon {
    width: 50px;
    padding: 10px;
    aspect-ratio: 1/1;
}

ul {
    width: 80vw;
    display: flex;
    list-style: none;
    justify-content: flex-end;
    gap: 15px;
    align-items: center;

    img {
        border: 1px solid rgba(0, 0, 0, 0.268);
        border-radius: 30%;
        background: #e3e9f7;

    }

    img:hover {
        border-radius: 8px;
        padding: 5px;
        background-color: white;
        box-shadow: 2px 3px 10px black;
        transition: background-color .5s, padding .5s, box-shadow .5s;
    }
}

main {
    display: grid;
    grid-template-columns: auto 90vw auto;
    grid-template-rows: auto auto auto;
    margin-top: 30px;
}

#principal {
    grid-column: 2;

}

.banner {
    width: 90vw;
    border-radius: 15px;
    box-shadow: 2px 3px 10px black;
}

section#grade-destaques {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.destaques {
    justify-content: flex-end;
    padding: 10px;
    height: 370px;
    width: 44vw;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 3px 10px black;
    border-radius: 10px;
    position: relative;

    img {
        width: 100%;
        padding: 20px;
    }

    .botao-ver-mais {
        display: flex;
        position: absolute;
        right: 0;
        top: 0;
    }

    div>a.ver-mais {
        box-shadow: 2px 3px 10px black;
        text-align: center;
        align-content: center;
        color: white;
        width: 80px;
        height: 40px;
        text-decoration: none;
        background-color: #7bb868;
        border-radius: 10px;
    }

    div>h3 {
        text-align: center;
        font-weight: bold;
    }

    div.shopee {
        padding: 2px;
        font-weight: bold;
        margin: 5px 5px;
        border: 2px solid rgb(230, 158, 57);
        font-size: 1.1em;
        text-align: center;
        background-color: white;
        border-radius: 10px;
        box-shadow: 2px 3px 7px black;

        a {
            color: red;
            text-decoration: none;
        }

    }

    div.mercado-livre {
        padding: 2px;
        font-weight: bold;
        margin: 2.5px 5px;
        border: 2px solid rgb(53, 121, 239);
        font-size: 1.1em;
        text-align: center;
        background-color: white;
        border-radius: 10px;
        box-shadow: 2px 3px 7px black;

        a {
            color: rgb(3, 3, 164);
            text-decoration: none;
        }
    }
}