@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html,
body {
    width: 100%;
    overflow-x: hidden;
}

#topo {
    background-image: linear-gradient(to bottom, rgb(75, 59, 59), white);
    position: fixed;
    width: 100vw;    
    height: 13vh;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 2px 2px 5px black;
    align-content: center;
    z-index: 1;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    
}

img.icon {
    background-color: white;
    border-radius: 50%;
    width: 12vw;
    aspect-ratio: 1/1;
    border: 5px solid rgb(75, 59, 59);
    outline: 5px solid white;
    box-shadow: 2px 2px 15px black;



    &:hover{
        border: 5px solid white;
        outline: 5px solid black;
    }
}

