@charset "UTF-8";


#principal {
    margin-top: 150px;
    
    a {
      margin-left: 2vw;

    }

}

h2#materia-titulo {
  font-size: 1.5em;
  margin: auto;
  margin-top: 30px;
  width: 80vw;
}

img.ilustra-topo {
    margin: auto;
  width: 80vw;
  display: block;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 15px;
  box-shadow: 1px 1px 5px black;
}

section#materia {
    text-align: justify;
  font-size: 1em;
  margin: auto;
  width: 90vw;
}


section#grade-oferta {
    flex-flow: row wrap;
    margin-top: 10px;

    div.oferta {
      max-width: 190px;
      height: 100%;

      a.ver-mais {
        font-size: 0.6em;
      }

      h3 {
        font-size: 1em;
        height: 3em;
        margin-bottom: 6px;
      }

      .mercado-livre, .shopee {
        

        width: 100%;
        a {
          font-size: 0.6em;
          padding: 2px;
        }
      }
    }
  }

  #grade-oferta {
  gap: 3vw;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 5%;
  margin-bottom: 5%;

  .oferta {
    display: flex;
    flex-direction: column;
    gap: 1vw;
    padding: 10px;
    border-radius: 10px;
    width: 30vw;
    height: 100%;
    position: relative;
    box-shadow: 2px 2px 15px black;

    &:hover {
      transform: translateY(-5px);
      box-shadow: 2px 2px 15px black;
    }

    img {
      padding: 1vw;
      width: 100%;
      aspect-ratio: 1/1;
    }

    .botao-ver-mais {
      display: flex;
      position: absolute;
      right: 5px;
      top: 5px;
    }

    a.ver-mais {
      padding: 1vw;
      font-weight: bold;
      font-size: 4vw;
      box-shadow: 2px 3px 10px black;
      text-align: center;
      align-content: center;
      color: white;
      text-decoration: none;
      background-color: #7bb868;
      border-radius: 10px;

      &:hover {
        color: black;
      }
    }

    h3 {
      align-content: center;
      font-size: 100%;
      padding: 5px;
      height: 25vw;
      text-align: center;
      font-weight: bold;
    }

    .shopee {
      border: 2px solid rgb(205, 145, 61);
      text-align: center;
      background-color: white;
      border-radius: 10px;
      box-shadow: 2px 3px 7px black;

      img {
        width: 15%;
        padding: 0px;
        margin-right: 15px;
      }

      a {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 5vw;
        font-weight: bold;
        color: red;
        text-decoration: none;
        
      }

      &:hover {
        background-color: rgb(0, 0, 0);

        a {
          color: rgb(246, 246, 246);
        }
      }
    }

    .mercado-livre {
      border: 2px solid rgb(53, 121, 239);
      text-align: center;
      background-color: white;
      border-radius: 10px;
      box-shadow: 2px 3px 7px black;

      a {
        font-weight: bold;
        font-size: 5vw;
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgb(3, 3, 164);
        text-decoration: none;
      }

      img {
        width: 15%;
        padding: 0px;
        margin-right: 15px;
      }

      &:hover {
        background-color: rgb(3, 3, 164);

        a {
          color: white;
        }
      }
    }
  }
}

@media screen and (min-width: 765px) {



section#materia {
   
  font-size: 1.5em;

  width: 60vw;
}

img.ilustra-topo {
    width: 60vw;
}

img {
    width: 50px;
}
    
}